Package: com.fpsindicator
Name: FPSIndicator
Depends: firmware (>= 12.0)
Version: 2.1.1
Architecture: iphoneos-arm64
Description: Lightweight FPS indicator with anti-cheat evasion for PUBG Mobile, using CADisplayLink or QuartzCore debug APIs
Maintainer: Anonymous
Author: Anonymous
Section: Tweaks
Depiction: http://brendonjkding.github.io/depictions/web/?p=com.brend0n.fpsindicator
SileoDepiction: http://brendonjkding.github.io/depictions/web/com.brend0n.fpsindicator/depiction.json
