Package: com.fpsindicator
Name: FPSIndicator
Depends: firmware (>= 12.0)
Version: 2.0.0
Architecture: iphoneos-arm64
Description: Lightweight FPS indicator with CADisplayLink-based accurate frame counting (Rootless)
Maintainer: Anonymous
Author: Anonymous
Section: Tweaks
Depiction: http://brendonjkding.github.io/depictions/web/?p=com.brend0n.fpsindicator
SileoDepiction: http://brendonjkding.github.io/depictions/web/com.brend0n.fpsindicator/depiction.json
