Package: com.fpsindicator
Name: FPSIndicator
Depends: firmware (>= 15.0)
Version: 0.0.5
Architecture: iphoneos-arm64
Description: Real-time FPS indicator for games (Rootless)
Maintainer: Anonymous
Author: Anonymous
Section: Tweaks
Depiction: http://brendonjkding.github.io/depictions/web/?p=com.brend0n.fpsindicator
SileoDepiction: http://brendonjkding.github.io/depictions/web/com.brend0n.fpsindicator/depiction.json
